# production
node_modules
/dist

# ide ignore
.idea

# yarn ignore (with zero installs)
yarn.lock
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# storybook ignore
storybook-static
